.map-container-5{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-5 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

#map {
    width: 300px;
    height: 250px;
  }

.modal-trigger {
    text-align: left;
  }

button {
    cursor: pointer;
  }

  header {
    background-color: black;
    margin: 0 auto;
    text-align: center;
  }

  .card-image {
    min-width: 300px;
  }
  img {
    height: 150px; 
    width: 150px;
    margin: 20px; 
  }

#logo {
  width: auto;
  height: auto;
}

p {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 22px; 
  font-weight: 5px;
  margin: 0;
}

.card.horizontal {
  width: 600px;
}

form {
  width: 70%; 
  margin: 0 auto;
}


h2 {
  text-align: center;
}